src/main/resources/xsd/ipm2026/wne_model_xsd_nota_fiscal_assinada.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
          
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified" xmlns:ds="http://www.w3.org/2000/09/xmldsig#">
    
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="wne_model_xsd_nota_fiscal_validacao.xsd" />   
    <xs:include schemaLocation="wne_model_xsd_nota_fiscal_base.xsd" />       
    
    <xs:element name="nfse" type="tipoNotaFiscalAssinada" />
    <xs:complexType name="tipoNotaFiscalAssinada">
        <xs:all>     
            <xs:element ref="identificador" minOccurs="0" />
            <xs:element ref="nf" />
            <xs:element ref="prestador" />
            <xs:element ref="tomador" />
            <xs:element ref="itens" />
            <xs:element ref="forma_pagamento" minOccurs="0" />
            <xs:element ref="rps" minOccurs="0"/>
            <xs:element ref="genericos" minOccurs="0" />
            <xs:element ref="produtos" minOccurs="0" />
            <xs:element ref="pedagio" minOccurs="0" />                             
<!--             <xs:element ref="ds:Signature" />   -->
        </xs:all>

        <xs:attribute name="id" use="optional"/>
        <xs:attribute name="ID" use="optional"/>
        <xs:attribute name="Id" use="optional"/>
        <xs:attribute name="iD" use="optional"/>

    </xs:complexType>
</xs:schema>
