src/main/resources/xsd/ipm2026/wne_model_xsd_nota_fiscal.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           version="1.0"
           elementFormDefault="qualified"
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#">

    <!-- Se for assinatura real -->
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
               schemaLocation="xmldsig-core-schema.xsd"/>

    <xs:include schemaLocation="wne_model_xsd_nota_fiscal_base.xsd"/>
    <xs:include schemaLocation="wne_model_xsd_nota_fiscal_reforma_tributo_consumo.xsd"/>
    <xs:include schemaLocation="wne_model_xsd_nota_fiscal_validacao.xsd"/>

    <xs:element name="nfse" type="tipoNotaFiscal"/>

    <xs:complexType name="tipoNotaFiscal">
        <xs:all>
            <xs:element ref="nfse_teste" minOccurs="0"/>
            <xs:element ref="identificador" minOccurs="0"/>
            <xs:element ref="nf"/>
            <xs:element ref="prestador"/>
            <xs:element ref="tomador"/>
            <xs:element ref="itens"/>
            <xs:element type="tipoIBSCBS_DPS" name="IBSCBS" minOccurs="0"/>
            <xs:element ref="forma_pagamento" minOccurs="0"/>
            <xs:element ref="rps" minOccurs="0"/>
            <xs:element ref="genericos" minOccurs="0"/>
            <xs:element ref="produtos" minOccurs="0"/>
            <xs:element ref="pedagio" minOccurs="0"/>
        </xs:all>

        <!-- Apenas UM atributo ID -->
        <xs:attribute name="Id" type="xs:string" use="optional"/>

    </xs:complexType>

</xs:schema>
