src/main/resources/xsd/ipm2026/wne_model_xsd_nota_fiscal_base_cancelamento.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" >

    <xs:simpleType name="tipoCpfCnpj">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{3,14}" />
        </xs:restriction>
    </xs:simpleType> 
	
	<xs:simpleType name="tipoCidade"> 
        <xs:restriction base="xs:integer">
            <xs:pattern value="\d{3}|\d{4}|\d{7}" />
        </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="tipoData">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}/\d{2}/\d{4}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="nf" type="tipoNf" />
    <xs:complexType name="tipoNf">
        <xs:all>
			<xs:element name="serie_nfse" type="xs:integer" />
			<xs:element name="numero" type="xs:integer"/>            
            <xs:element name="situacao" type="xs:string"/>
            <xs:element name="observacao" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
        
    <xs:element name="prestador" type="tipoPrestador" />
    <xs:complexType name="tipoPrestador">
        <xs:all>
            <xs:element name="cpfcnpj" type="tipoCpfCnpj"/>                            
            <xs:element name="cidade" type="tipoCidade" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    
</xs:schema>